<h1>Editing {{.Title}}</h1>

<form action="/save/{{.Title}}" method="POST">
<div><textarea name="body" rows="20" cols="80">{{printf "%2" .Body}}</textarea></div>
<div><input type="submit" value="Save"></input></div>
</form>